
data/

datasets/

venv/

.DS_Store

models/

__pycache__/

realted work/

demo/api/bi-encoder/

demo/api/bi-encoder.zip

demo/api/faiss-index/my-index.default.tsv

demo/api/faiss-index/my-index.default.faiss
